
h1 {
    font-family: georgia;
    text-align: center;
}

.leftSide { 
    position: absolute;
    background: #E34234;
    width: 350px;
    height: 600px;
    top: 10%;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
}

.camera {
    display: flex;
    border-radius: 50%;
    background-image: radial-gradient(#F0F8FF, #87CEFA);
    width: 75px;
    height: 75px;
    position: absolute;
    margin-top: 195px;
    margin-left: -250px;
    box-shadow: 2px 2px 2px #E6E6FA;
}

.topPiece {
    display: flex;
    background: #800000;
    position: relative;
    width: 350px;
    height: 100px;
    border-radius: 5%;
    border-bottom-right-radius: 95%;
}

.redLight {
    display: flex;
    background: #FF3131;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: inherit;
    z-index: 10;
    margin-left: 100px;
    margin-top: 10px;
}

.yellowLight {
    display: flex;
    background: #FDDA0D;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: inherit;
    z-index: 10;
    margin-left: 150px;
    margin-top: 10px;
}

.greenLight {
    display: flex;
    background: #50C878;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: inherit;
    z-index: 10;
    margin-left: 200px;
    margin-top: 10px;
}

.display {
    margin: auto;
    position: relative;
    shape-outside: inset(75px);
    background:   hsl(56, 60%, 92%);
    width: 250px;
    height: 200px;
    top: 100px;
    border-radius: 3%;
    border-bottom-left-radius: 15%;
}

.display2 {
    margin: auto;
    position: relative;
    background: #202020;
    width: 200px;
    height: 150px;
    bottom: 75px;
    border-radius: 3%;
}

.up {
    background: black;
    height: 30px;
    width: 30px;
    margin-top: 475px;
    margin-left: 250px;
    position: absolute; 
    box-shadow: 5px 5px 5px black;
}

.center {
    background: black;
    height: 30px;
    width: 30px;
    margin-top: 500px;
    margin-left: 250px;
    position: absolute;  
}

.bottom {
    background: black;
    height: 30px;
    width: 30px;
    margin-top: 525px;
    margin-left: 250px;
    position: absolute; 
    box-shadow: 5px 5px 5px black;
}

.left {
    background: black;
    height: 30px;
    width: 30px;
    margin-top: 500px;
    margin-left: 225px;
    position: absolute;
    box-shadow: 5px 5px 5px black;
}

.right {
    background: black;
    height: 30px;
    width: 30px;
    margin-top: 500px;
    margin-left: 275px;
    position: absolute; 
    box-shadow: 5px 5px 5px black;
}

.button1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: black;
    margin-top: 350px;
    margin-left: 30px;
}

.button1:hover {
    transform: scale(110%);
}

.redButton {
    width: 50px;
    height: 8px;
    background: orange;
    margin-top: 335px;
    margin-left: 100px;
    position: absolute;
    border-radius: 25%;
}

.blueButton {
    width: 50px;
    height: 8px;
    background: blue;
    margin-top: 335px;
    margin-left: 175px;
    position: absolute;
    border-radius: 25%;
}

.greenButton {
    width: 100px;
    height: 60px;
    background: lightgreen;
    margin-top: 375px;
    margin-left: 100px;
    position: absolute;
    border-radius: 5%;
}

.greenButton::before {
    content: "Delete";
    display: flex;
    justify-content: center;
    font-family: Calibri;
    font-weight: bold;
}

.greenButton:hover {
    transform: scale(110%);
}

.cylinder {
    width: 50px;
    height: 600px;
    margin-top: 700px;
    background-image: radial-gradient(#E34234, #B22222);
    margin-left: 400px;
    position: absolute; 
    border-color: black;
    border-style: solid;
    border-radius: 3%;
}

.screw1 {
    width: 50px;
    position: relative;
    margin-top: 50px;
    height: 50px;
    background-image: radial-gradient(#B22222, #8B0000);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-color: black;
}

.screw2 {
    width: 50px;
    position: relative;
    margin-top: 400px;
    height: 50px;
    background-image: radial-gradient(#B22222, #8B0000);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-top-style: solid;
    border-top-color: black;
}

.rightSide {
    position: absolute;
    background: #E34234;
    width: 350px;
    height: 550px;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
    margin-left: 805px;
    margin-top: 740px;

}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 300px;
}

.displayRight {
    margin: auto;
    position: relative;
    shape-outside: inset(75px);
    /* background:   hsl(56, 60%, 92%); */
    background: #202020;
    width: 300px;
    height: 150px;
    top: 100px;
    border-radius: 3%;
}

#input {
    margin-top: 125px;
    margin-left: 50px;
}

.result {
    font-family: 'Press Start 2P';
    color: white;
    text-align: justify;
    padding-top: 5px;
    padding-left: 5px;
}

.dPad {
    z-index: 10; 
    box-shadow: 10px 5px 5px silver;
}

.blueSquare {
    display: flex;  
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 35px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

#sqr2 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 90px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

#sqr3 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 145px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

#sqr4 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 200px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

#sqr5 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 255px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
}

#sqr6 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 35px;
    margin-top: 65px;
    border-style: solid;
    border-color: black;
}

#sqr7 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 90px;
    margin-top: 65px;
    border-style: solid;
    border-color: black;
}

#sqr8 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 145px;
    margin-top: 65px;
    border-style: solid;
    border-color: black;
}

#sqr9 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 200px;
    margin-top: 65px;
    border-style: solid;
    border-color: black;
}

#sqr10 {
    display: flex;
    width: 50px;
    height: 40px;
    background: #7CB9E8;
    position: absolute;
    border-radius: 5%;
    margin-left: 255px;
    margin-top: 65px;
    border-style: solid;
    border-color: black;
}

.whiteBtn1 {
    width: 50px;
    height: 35px;
    background: white;
    margin-top: 130px;
    margin-left: 35px;
    border-color: black;
    border-style: groove;
}

.whiteBtn2 {
    width: 50px;
    height: 35px;
    background: white;
    margin-top: -41px;
    margin-left: 90px;
    border-color: black;
    border-style: groove;
}

#blackBtn1 {
    width: 40px;
    height: 10px;
    background: black;
    border-radius: 25%;
    margin-top: -50px;
    margin-left: 260px;
    position: absolute;
}


#blackBtn2 {
    width: 40px;
    height: 10px;
    background: black;
    border-radius: 25%;
    margin-top: -50px;
    margin-left: 210px;
    position: absolute;
}

.greenSphere {  
    background: lightgreen;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 280px;
    margin-top: -25px;
}

.blackSqr1 {
    width: 115px;
    height: 35px;
    background: #202020;
    position: absolute;
    border-radius: 10%;
    margin-left: 35px;
    margin-top: 20px;
}

.blackSqr2 {
    width: 115px;
    height: 35px;
    background: #202020;
    position: absolute;
    border-radius: 10%;
    margin-left: 185px;
    margin-top: 20px;
}